/*===================
    GENERAL STYLING
  ===================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*===================
  ===================*/

.container {
  height: 100%;
  display: flex;
  align-items: center;
}
.wrapper {
  width: 100%;
  max-width: 346px;
  margin: 0 auto;
  border-radius: 4px;
}

form > input {
  width: 100%;
  padding: 2.6rem 0;
  padding-left: 2rem;
  font-size: 4rem;
  border-radius: 10px 10px 0 0;
  border: none;
  outline: none;
}

table {
  width: 100%;
  height: 100%;
  display: block;
  display: grid;
  justify-content: center;
}

input[type="button"] {
  cursor: pointer;
  width: 85.3px;
  height: 70px;
  font-size: 2.4rem;
  border: none;
  background-color: #fff;
}
.db-height {
  padding: 7.1rem 0;
  background-color: #ff7f11 !important;
  color: #fff;
  border-radius: 0 0 10px 0;
}
.db-width {
  padding: 0 8.6rem;
  border-radius: 0 0 0 10px;
}
.gray {
  background-color: #e7e7e7 !important;
}
.red {
  background-color: #c42021 !important;
  color: #fff;
}
.black {
  background-color: #000 !important;
  color: #fff;
}
