@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Comfortaa:wght@300;400&family=Inter:wght@300&family=Manrope:wght@300&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Poppins:wght@300;400;600;900&family=Quicksand&family=Raleway&display=swap");
/*===================
    GENERAL STYLING
  ===================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #faf8f8;
}

/*===================
  ===================*/