@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Comfortaa:wght@300;400&family=Inter:wght@300&family=Manrope:wght@300&family=Open+Sans:wght@500&family=Poppins:wght@300;400&family=Quicksand&family=Raleway&display=swap");

/* =====================
      GENERAL STYLING
   =====================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background-color: #fff;
}

/* =====================
        BODY STYLING
   =====================*/

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

h1 {
    font-size: 5.6rem;
    text-transform: capitalize;
    font-family: "Comfortaa", cursive;
    transition: all 0.3s;
  }

/* =====================
        INPUT COLOR STYLING
   =====================*/

.container > input {
    width: 100%;
    max-width: 440px;
    border: none;
    background: none;
    outline: none;
    height: 4.4vh;
    cursor: pointer;
}
.container > input::-webkit-color-swatch-wrapper {
    padding: 0;
}
.container > input::-webkit-color-swatch {
   border: 4px solid #fff;
   border-radius: 4px;
   box-shadow: 0 0 8px 5px #0000002a;
}

